#wrapper {
min-height:100%;
position:relative;
}
#footer {
    width:100%;
    position:relative;
    bottom:0;
    left:0;
}

.heading-font {

  margin-top: 3%;
    font-size: 34px;
    font-family: 'Belleza', sans-serif;
}
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #337AB7;
    color: #337AB7;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.text-allign-centre {
    text-align: center;
}
.belleza-h2 {

    text-align: left;
    font-size: 40px;
    font-family: 'Belleza', sans-serif;
}
.ThemeNavbar{
    background-color: #000000;
    opacity: 0.85;
}
.NavbarText{
    color: #ff6600;
    font-family:sans-serif;
}
.ThemeBody{
    background:url('http://static.hdw.eweb4.com/media/wallpapers_dl/1/130/1295724-keyboard-mouse.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.SectionTheme{
    background-color: #006699;
}
.SectionText{
    color: white;
}
.top-buffer{
    margin-top: 20px;
}
.thumbnail{
    background-color: navajowhite;
}
.footerText{
    color: white;
}
html, body{height: 100%;}